body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
}
h1{
    font-size: 60px;
}
.name-highlight{
    color:orange;
}
.half-width{
    width:40%;
    float: left;
    margin-top: 10%;
    margin-left: 2%;
    padding:2%;

}
.half-width img{
    width:100%;

    
}
section{
    height: 500px;
    
}

.top-banner{
    background-image: url("image/header-bg.png");
    background-size: cover;
    padding:100px;
    height:600px;
    
}
.buttom{
    text-decoration: none;
    border:2px solid red;
    color:white;
    padding:5px 5px;
    background-color: tomato;

}
.dream-area{
    background-image: url("image/biography-bg.png");
    background-size: cover;
    padding:120px;
    height:700px;
    
}
